body, ul, li, p, a, div {margin: 0; padding: 0; list-style: none; font-family: "Cabin", Helvetica, Arial, Sans-serif;}

.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#portbox-container {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  display: none;
}
#portbox-container ul {
  max-width: 1446px;
  overflow: auto;
  margin: 0 auto;
}
#portbox-container ul li {
  float: left;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  margin: 20px;
  padding: 20px;
  width: 400px;
  height: 400px;
/*  transition: height, 2s;
  -webkit-transition: height 2s;
  -moz-transition: height: 2s;*/
}
#portbox-container ul li img, #portbox-container .portbox-large img {
  max-width: 400px;
  max-height: 400px;
  background: white;
  padding: 10px;
  cursor: pointer;
}

#portbox-container .portbox-large {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  margin: 0;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  font-size: 72px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.left-arrow {
  left: 5%;
}

.right-arrow {
  right: 5%;
}

.close-btn {
  cursor: pointer;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

#portbox-container .portbox-large img {
  max-width: 90%;
  max-height: 90%;
}

#portbox-intro {
  width: 325px;
  position: relative;
  border-radius: 5px;
  max-width: 700px;
  margin: 150px auto;
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  padding: 20px;
  border: 3px solid #000000;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  -ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#portbox-intro #logo {
  margin: 0 auto;
  display: table-cell;
  width: 120px;
}

#portbox-intro h1 {
  margin: 20px auto 50px;
  font-size: 24px;
  color: #6ebcfe;
  text-align: center;
}

#portbox-intro #launch-db {
  margin: 20px auto 0;
  width: 290px;
  height: 70px;
  border: 4px solid #aaaaaa;
  border-radius: 5px;
  cursor: pointer;
  background: #ba362f; /* Old browsers */
  background: -moz-linear-gradient(top,  #ba362f 0%, #a1332d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba362f), color-stop(100%,#a1332d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ba362f 0%,#a1332d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ba362f 0%,#a1332d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ba362f 0%,#a1332d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ba362f 0%,#a1332d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba362f', endColorstr='#a1332d',GradientType=0 ); /* IE6-9 */
}

#portbox-intro #launch-db:hover {
  background: #a1332d; /* Old browsers */
  background: -moz-linear-gradient(top,  #a1332d 0%, #ba362f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1332d), color-stop(100%,#ba362f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a1332d 0%,#ba362f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a1332d 0%,#ba362f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a1332d 0%,#ba362f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a1332d 0%,#ba362f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1332d', endColorstr='#ba362f',GradientType=0 ); /* IE6-9 */
}

#portbox-intro #launch-db #db-logo {
  float: left;
  margin: 17px 0 0 15px;
}

#portbox-intro #launch-db span {
  float: left;
  color: white;
  font-size: 24px;
  margin: 27px 0 0 10px;
}